/* You can add global styles to this file, and also import other style files */
body {
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #b3e6eb, #6281c9);
  background: linear-gradient(to left, #b3e6eb, #6281c9);
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.white {
  color: white !important;
}

.strike-through {
  text-decoration: line-through;
}

textarea {
  width: 100%;
  max-width: 100%;
  padding: 12;
  min-height: 8em;
  max-height: 16em;
  font-style: italic
  }

strong + small {
    display: block;
}

input[type=checkbox] {
  margin-right: 5px;
}

div.pull-right a {
  margin-left: 1em;
}

h4 {
  padding-left: 12px;
}

div.listedItems {
  padding-left: 12px;
  padding-right: 12px;
}

div.alert-primary {
  padding-left: 12px;
}

.btn-circle {

    width: 20px;
    height: 20px;
    padding: 6px 5px 5px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1;
}

.btn-circle {

    width: 20px;
    height: 20px;
    padding: 6px 5px 5px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1;
}

h1 {
  text-shadow: 2px 2px 4px #222121
}
p {
  text-shadow: 2px 2px 4px #222121
}
hr {
  text-shadow: 2px 2px 4px #222121
}

.col-md-8 {
  padding-right: 20px
}

input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}

.completed {
  text-decoration: line-through;
} 
